/* 
--mimi-pink: #ffd3e8ff;
--pale-pink: #ffd7d5ff;
--nyanza: #f3ffe1ff;
--nyanza-2: #dfffd6ff; */
/* * {
  box-sizing: border-box;
}

.bg-light {
  background-color: #e8d7ffff !important;
}

.badge-info {
  background-color: #ffd3e8ff;
  color: black;
}

.btn-primary,
.btn-success {
  background-color: #dfffd6ff;
  color: black;
  border: 1px solid #dfffd6ff;
}

.btn-primary:hover,
.btn-success:hover {
  background-color: rgb(169, 255, 145);
  color: black;
  border: 1px solid rgb(169, 255, 145);
}

.btn-danger,
.badge-warning {
  background-color: #ffd7d5ff;
  color: black;
  border: 1px solid #ffd7d5ff;
}

.btn-danger:hover {
  background-color: rgb(255, 158, 152);
  color: black;
  border: 1px solid rgb(255, 158, 152);
}

.btn-info {
  background-color: #f3ffe1ff;
  color: black;
  border: 1px solid #f3ffe1ff;
}

.btn-info:hover {
  background-color: rgb(218, 255, 163);
  color: black;
  border: 1px solid rgb(218, 255, 163);
}

.list-group-item .btn:not(.btn-info) {
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.btn,
.badge {
  -webkit-box-shadow: 5px 5px 8px -5px rgb(0, 0, 0, 0.71);
  box-shadow: 5px 5px 8px -5px rgb(0, 0, 0, 0.71);
}

.container {
  min-height: calc(100vh - 100px);
} */

body {
  background-color: #f1f5f8;
}
